.containerStyle {
    padding: 24px;
    background: #fff;
    border-radius: 12px;
    box-sizing: border-box;
}

.overall-score-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}