.containerStyle {
    display: flex;
    flex-direction: row;
    /* padding: 24px; */
    background: #fff;
}

.overall-score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 40px 0px 40px;
    
}

.overall-score-container.score-low {
    background-color: #8F0000;
    color: white;
}
.overall-score-container.score-medium-low {
    background-color: #FFBC7A;
    color: black;
}
.overall-score-container.score-medium {
    background-color: #FBDF45;
    color: black;
}
.overall-score-container.score-medium-high {
    background-color: #C8F85F;
    color: black;
}
.overall-score-container.score-high {
    background-color: #007D38;
    color: black;
}

.score-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
}


.subscore-container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding: 18px 20px 18px 20px;
    /* align-items: flex-start; */
}

.header {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-left: 70px 24px 70px;

}
.subheader {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin: 0px;
}

.paragraph {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    color: black
}

.score-value {
font-family: 'Inter', sans-serif;
  margin-left: auto;
  text-align: right;
  min-width: 40px;
  font-size: 18px;
}